<app-auth-layout>
  <section>
    <div
      class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-screen lg:py-0 transition bg-blue-50"
    >
      <!--      <div-->
      <!--        class="absolute w-full h-1/2 bottom-0 z-0 right-0 bg-gradient-to-b from-transparent :2xl:border-zinc-700 :from-black/10 to-yellow-50 :hidden :text-gray-200 overflow-x-hidden ease-linear overflow-hidden login-card"-->
      <!--      ></div>-->
      <div
        class="w-full bg-white z-10 rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700 duration-1000 border-zinc-200"
      >
        <div class="p-6 space-y-4 md:space-y-2 sm:p-8 z-10">
          <h1
            class="text-xl flex flex-col gap-2 font-normal leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white mb-5"
          >
            <span class="text-4xl font-semibold text-blue-200">Jobinow</span>

            Sign in to your account
          </h1>
          <form
            class="space-y-4 md:space-y-6"
            [formGroup]="loginForm"
            (submit)="login()"
          >
            <div class="mt-5">
              <label
                for="email"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Your email</label
              >
              <tui-input formControlName="email">
                Type an email
                <input
                  tuiTextfieldSize="m"
                  tuiTextfield
                  autocomplete="username"
                  type="text"
                  name="password"
                  id="email"
                  placeholder="address@gmail.com"
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                />
              </tui-input>
            </div>
            <div class="mb-5">
              <label
                for="password"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Password
              </label>
              <tui-input-password formControlName="password">
                Type an password
                <input
                  tuiTextfield
                  tuiTextfieldSize="m"
                  id="password"
                  name="password"
                  type="password"
                  placeholder="********"
                  autocomplete="current-password"
                  class="tui-input bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                />
              </tui-input-password>
            </div>
            <button
              class="w-full login-btn text-white bg-blue-200 hover:bg-blue-400 focus:ring-4 disabled:cursor-not-allowed focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
              type="submit"
              [disabled]="isButtonDisabled"
            >
              Sign in
            </button>
          </form>
          <div class="text-center text-md font-bold">OR</div>
          <div class="auth__btns flex items-center justify-center gap-4 w-full">
            <a
              [href]="googleOauthUrl"
              appearance="outline"
              tuiButton
              type="button"
              [disabled]="googleOauthUrlNotReady"
              class="w-full"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                class="tui-space_right-4 bg-white rounded-full"
              >
                <path
                  d="M20.283 10.356h-8.327v3.451h4.792c-.446 2.193-2.313 3.453-4.792 3.453a5.27 5.27 0 0 1-5.279-5.28 5.27 5.27 0 0 1 5.279-5.279c1.259 0 2.397.447 3.29 1.178l2.6-2.599c-1.584-1.381-3.615-2.233-5.89-2.233a8.908 8.908 0 0 0-8.934 8.934 8.907 8.907 0 0 0 8.934 8.934c4.467 0 8.529-3.249 8.529-8.934 0-.528-.081-1.097-.202-1.625z"
                ></path>
              </svg>
              Google
            </a>
            <!-- <button appearance="outline" tuiButton type="button">
              <tui-marker-icon
                mode="link"
                new
                size="xs"
                src="tuiIconGithubLarge"
                class="tui-space_right-4"
              ></tui-marker-icon>
              Github
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </section>
</app-auth-layout>
