<nav-bar></nav-bar>
<div class="bg-blue-300 h-[90vh] flex items-center justify-center">
  <!-- <div class="bg-blue-300 px-20 py-10"></div> -->
  <div
    class="profile__wrapper grid grid-cols-1 sm:grid-cols-5 gap-y-4 sm:gap-x-4 px-4 sm:px-32 dark:text-white"
  >
    <div
      class="user__info__card relative col-span-1 sm:col-span-3 w-full px-3 py-4 bg-white z-10 rounded-lg shadow dark:border md:mt-0 dark:bg-gray-800 dark:border-gray-700 duration-1000 border-zinc-200"
    >
      <div
        class="card__header flex sm:items-start items-center flex-col sm:flex-row sm:justify-between gap-y-2 mb-8 sm:mb-0"
      >
        <div class="user__info flex flex-col sm:flex-row gap-2 sm:gap-8">
          <div
            class="user__image relative sm:-top-10 border-8 border-white dark:border-gray-800 duration-1000 rounded-full w-fit"
          >
            <img class="w-40 h-40 rounded-full" src="{{ user.image }}" alt="" />
          </div>
          <div
            class="user__info__text flex flex-col justify-center sm:justify-start text-center sm:text-left gap-y-1"
          >
            <div class="user__name capitalize">
              <h1 class="text-2xl font-medium">
                {{ user.firstname + " " + user.lastname }}
              </h1>
            </div>
            <div class="user__position capitalize">
              <p class="text-lg font-normal">developer at youCode</p>
            </div>
            <div class="user__country capitalize">
              <p class="text-base text-slate-500">
                status: {{ user.status || "unavailable" }}
              </p>
            </div>
          </div>
        </div>
        <div class="user__cta__btns">
          <button class="flex items-center justify-center p-2 border rounded">
            <tui-marker-icon
              mode="white"
              new
              size="xs"
              src="tuiIconEdit2Large"
              class=""
            ></tui-marker-icon>
          </button>
        </div>
      </div>
      <div class="card__body">
        <div class="card__body__wrapper grid sm:grid-cols-2 gap-8 px-8">
          <div class="user_sub__info">
            <div class="info__wrapper flex items-center gap-4">
              <div class="icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  style="fill: rgb(89, 0, 255)"
                >
                  <path
                    d="M20 4H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2zm0 4.7-8 5.334L4 8.7V6.297l8 5.333 8-5.333V8.7z"
                  ></path>
                </svg>
              </div>
              <p class="text-lg">{{ user.email || "not specified" }}</p>
            </div>
          </div>
          <div class="user_sub__info">
            <div class="info__wrapper flex items-center gap-4">
              <div class="icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  style="fill: rgb(89, 0, 255)"
                >
                  <path
                    d="m20.487 17.14-4.065-3.696a1.001 1.001 0 0 0-1.391.043l-2.393 2.461c-.576-.11-1.734-.471-2.926-1.66-1.192-1.193-1.553-2.354-1.66-2.926l2.459-2.394a1 1 0 0 0 .043-1.391L6.859 3.513a1 1 0 0 0-1.391-.087l-2.17 1.861a1 1 0 0 0-.29.649c-.015.25-.301 6.172 4.291 10.766C11.305 20.707 16.323 21 17.705 21c.202 0 .326-.006.359-.008a.992.992 0 0 0 .648-.291l1.86-2.171a.997.997 0 0 0-.085-1.39z"
                  ></path>
                </svg>
              </div>
              <p class="text-lg">{{ user.phoneNumber || "not specified" }}</p>
            </div>
          </div>
          <div class="user_sub__info">
            <div class="info__wrapper flex items-center gap-4">
              <div class="icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  style="fill: rgb(89, 0, 255)"
                >
                  <circle cx="6" cy="4" r="2"></circle>
                  <path
                    d="M9 7H3a1 1 0 0 0-1 1v7h2v7h4v-7h2V8a1 1 0 0 0-1-1z"
                  ></path>
                  <circle cx="17" cy="4" r="2"></circle>
                  <path
                    d="M20.21 7.73a1 1 0 0 0-1-.73h-4.5a1 1 0 0 0-1 .73L12 14h2l-1 4h2v4h4v-4h2l-1-4h2z"
                  ></path>
                </svg>
              </div>
              <p class="text-lg">{{ user.gender || "not specified" }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- start badges card -->
    <div
      class="badges__info__card relative col-span-1 sm:col-span-2 w-full px-3 py-4 bg-white z-10 rounded-lg shadow dark:border md:mt-0 dark:bg-gray-800 dark:border-gray-700 duration-1000 border-zinc-200"
    >
      <div class="card__header flex items-start justify-between">
        <h3 class="text-xl text-slate-600 dark:text-white">Obtained Badges:</h3>
      </div>
      <div class="card__body">
        <div
          *ngIf="display"
          class="current__badge__wrapper flex gap-5 justify-center py-5 overflow-y-auto"
        >
          <div
            *ngFor="let badge of badges"
            class="current__badge text-white w-24"
          >
            <img
              class="w-full h-full bg-cover"
              src="{{ badge.imageUrl }}"
              alt=""
              width="200"
              height="200"
            />
          </div>
        </div>
        <div class="available__badges my-4">
          <h3 class="text-lg text-slate-600 dark:text-white">
            Available Badges
          </h3>
          <div class="available__badges__wrapper grid grid-cols-4 gap-4 py-2">
            <div class="current__badge__wrapper flex justify-center">
              <a routerLink="/user/quiz" class="current__badge text-white">
                <img
                  class="w-full"
                  src="https://skills.thijs.gg/icons?i=html"
                  alt=""
                />
              </a>
            </div>
            <div class="current__badge__wrapper flex justify-center">
              <a routerLink="/user/quiz" class="current__badge text-white">
                <img
                  class="w-full"
                  src="https://skills.thijs.gg/icons?i=javascript"
                  alt=""
                />
              </a>
            </div>
            <div class="current__badge__wrapper flex justify-center">
              <a routerLink="/user/quiz" class="current__badge text-white">
                <img
                  class="w-full"
                  src="https://skills.thijs.gg/icons?i=cpp"
                  alt=""
                />
              </a>
            </div>
            <div class="current__badge__wrapper flex justify-center">
              <a routerLink="/user/quiz" class="current__badge text-white">
                <img
                  class="w-full"
                  src="https://skills.thijs.gg/icons?i=java"
                  alt=""
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
